@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.cont-cinema {
  font-family: "Roboto", sans-serif;
  margin: 86px auto 0;
  padding: 41px 28px 31px;
  max-width: 1060px;
  border-radius: 15px;
  border: 2px solid #bdbdbd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2;
}

.cont-cinema .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.cont-cinema .title::after {
  content: "";
  display: block;
  margin: 27px auto 0;
  width: 65%;
  height: 2px;
  background-color: #bdbdbd;
}

.cont-cinema .cinema_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px auto 0;
  max-width: 372px;
}

.cont-cinema .cinema_nav button {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.cont-cinema .cinema_nav button:hover {
  font-weight: 700;
}

.cont-cinema .cinema_nav button.btn-focus {
  font-weight: 900;
  color: #000000;
}

.cont-cinema .cinema-list-box {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 28px;
  padding: 26px 23px 30px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid #bdbdbd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cont-cinema .cinema-list-box .cinema-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px 23px;
}

.cont-cinema .cinema-list-box .cinema-list li {
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.cont-cinema .cinema-list-box .cinema-list li .movie-title {
  margin: 11px 20px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.cont-cinema .cinema-list-box .cinema-list li .movie-info {
  margin: 12px 20px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
}

.cont-cinema .cinema-list-box .cinema-list li .movie-info dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

.cont-cinema .cinema-list-box .cinema-list li .movie-info dt {
  color: #828282;
}

.cont-cinema .cinema-list-box .cinema-list li .movie-info dd {
  color: #000000;
}

.cont-cinema .cinema-list-box .cinema-list li .movie-info .movie-star {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.cont-cinema .cinema-list-box .cinema-list li .movie-info .movie-star::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 29px;
  width: 14px;
  height: 14px;
  background-image: url("../img/star.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont-cinema .cinema-list-box .cinema-list li .btn-wrap {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-cinema .cinema-list-box .cinema-list li .btn-wrap .func-btn {
  width: 110px;
  background-color: #f2f2f2;
  border-top: 1px solid #bdbdbd;
  font-weight: 500;
  font-size: 14px;
  line-height: 41px;
}

.cont-cinema .cinema-list-box .cinema-list li .btn-wrap .func-btn:nth-child(1) {
  border-right: 1px solid #bdbdbd;
}

.cont-cinema .cinema-list-box .cinema-list li .btn-wrap .func-btn:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 2px;
  background-image: url("../img/icon_play.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(1)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_1.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(2)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_2.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(3)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_3.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(4)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_4.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(5)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_5.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(6)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_6.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(7)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_7.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cont-cinema .cinema-list-box .cinema-list li:nth-child(8)::before {
  content: "";
  display: block;
  margin: 19px 20px 11px;
  top: 0px;
  left: 0px;
  height: 250px;
  border-radius: 10px;
  background-image: url("../img/poster_8.png");
  background-size: 100% 250px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  margin-top: 135px;
  padding: 53px 0 38px;
}

.footer .footer-title {
  -ms-flex-preferred-size: 1190px;
      flex-basis: 1190px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #c4c4c4;
}

.footer .footer-title .img-icon {
  width: 24px;
  margin-left: 24px;
  float: right;
}

.footer .footer-info {
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 1190px;
      flex-basis: 1190px;
  gap: 10px;
}

.footer .footer-info dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  color: #4f4f4f;
}

.footer .footer-info dl dt,
.footer .footer-info dl dd {
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
}

.footer .footer-info dl .bold-txt {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.footer .footer-info dl:not(:nth-child(5))::after {
  content: "";
  float: left;
  margin-top: 3px;
  margin-left: 4px;
  width: 1px;
  height: 16px;
  background-color: #4f4f4f;
}

.footer .footer-info div {
  margin-left: auto;
}

@media screen and (max-width: 1075px) {
  .cont-cinema {
    max-width: 833px;
  }
}

@media screen and (max-width: 833px) {
  .cont-cinema {
    max-width: 590px;
  }
}

@media screen and (max-width: 590px) {
  .cont-cinema {
    max-width: 345px;
  }
  .cinema_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
}
/*# sourceMappingURL=style.css.map */